[submodule "public"]
	path = public
	url = git@github.com:zhiweiyin318/zhiweiyin318.github.io.git
	branch = master
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = git@github.com:zhiweiyin318/beautifulhugo.git
	branch = mytheme
